body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F7ECDE;
}

textarea{
    resize: none;
    
}

h1{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #352e28;
    position: relative;
}

h1::before{
    content:'';
    position: absolute;
    width: 20%;
    height: 25%;
    left: 40%;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}

h2{
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
